@main("Welcome to Horroroscopo") {

    <div class="row">
        <div class="col-md-4">
            <h2>Pobre diablo</h2>
            <p>Aquí podrás ver la predicción para tu signo del zodiaco</p>
            <p>La previsión zodiacal no es una ciencia exacta y debemos escribir pronosticos generalizadas, por tanto es posible que no todo lo que dice la predicción vaya a ocurrirte. Pero eso si, al menos estate prevenido y tenga cuidado con la mala pata</p>
            <p><select class="form-control" id="signoField" data-bind="events: {onselect: cargaPrediccion()}, options: signoValues, value: selectedSignoValue"></select></p>
            <br/>
            <p class="text-muted" id="geek">[Solo para Geeks :-]</p><p>In the backend, <a href="http://mongodb.org">MongoDB</a> is being used to store messages entered in the front end.  <a href="http://reactivemongo.org">Reactive Mongo</a> is being used to talk to MongoDB, using reactive IO.  MongoDB is also being used to publish events, using a tailable cursor on a capped collection.  This ensures that a Play application stays stateless, which allows it to easily scale out to react to load, and gracefully handle faults.</p>
            <p>In the front end, <a href="http://knockoutjs.com/">knockout.js</a> is being used to provide a reactive user interface.  <a href="http://getbootstrap.com/">Bootstrap</a> is being used for styling, and <a href="http://jquery.org">jQuery</a> is being used to make AJAX calls, in combination with the Play Javascript router.</p>
            <p>To receive real time updates of new messages, server sent events are being used, subscribing to the MongoDB tailable cursor on the backend.</p>
        </div>

        <div class="col-md-8">
            <h2 data-bind="if: selectedSignoValue">La bola de cristal predice que <span data-bind="text: selectedSignoValue"></span>...</h2>
            <p data-bind="text: prediccionActual"></p>
        </div>

    </div>


}
